<!-- wp:template-part {"slug":"header","theme":"hardware-tools-store","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"hardware-tools-store/banner"} /-->

<!-- wp:pattern {"slug":"hardware-tools-store/products"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hardware-tools-store","tagName":"footer","className":"custom-footer-class"} /-->